body {
    background-color: rgb(185, 64, 100);
}

h1 {
    text-align: center;
    font-size: 45px;
    margin: 0px;
}

nav {
    text-align: center;
}

li {
    list-style-type: none;
    list-style-position: inside;
}